@import '../common/variables.scss';

.our-pets {
  &__header {
    background: $color-light-xl;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.pets-nav {
  &__header {
    color: $color-dark-l;
  }

  &__subtitle {
    color: $color-dark-3xl;
  }

  &__list {
    &-link {
      color: $color-dark-l;

      &_dark {
        @extend .nav__list-link;
        color: $color-dark-3xl;
      }
    }
  }
}

.pets {
  background: $color-light-l;

  &-wrapper {
    padding-top: 80px;
    padding-bottom: 100px;

    @media (max-width: 949px) {
      row-gap: 40px;
      padding: 80px 30px 76px 30px;
    }

    @media (max-width: 500px) {
      padding: 42px 10px;
      row-gap: 30px;
    }
  }

  &__header {
    display: block;
    margin: 0 auto;
    box-sizing: content-box;
    text-align: center;
    padding: 0;
    max-width: 400px;
    max-height: 90px;

    @media (max-width: 500px) {
      font-size: 25px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;

    @media (max-width: 1279px) {
      max-height: 1365px;
      overflow-y: hidden;
    }

    @media (max-width: 968px) {
      margin-top: 30px;
      margin-bottom: 40px;
    }

    @media (max-width: 500px) {
      margin-top: 42px;
      margin-bottom: 42px;
    }
  }

  &__buttons {
    display: flex;
    gap: 0 20px;
    justify-content: center;

    @media (max-width: 500px) {
      column-gap: 10px;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    transition: background-color 0.4s linear;
    padding: 0;
    cursor: pointer;
    border-radius: 100px;
    max-height: 52px;

    &:hover {
      background-color: $color-primary;
    }

    &_disabled {
      border: none;
      background-color: transparent;
      transition: background-color 0.4s linear;
      padding: 0;
      cursor: default;
      border-radius: 100px;
      max-height: 52px;
    }
  }
}